.contianer
  %h2.page-ttl All Boards
  .card-items
    .card-item
      %h3.item-ttl Brackets
      %a.menu-btn 
        .mini-menu
      %p.item-txt Saving money – is something we would all like.
      %div.card-item-img
        = image_tag 'default-avatar.png', class: 'card-img'
    %a.item-add{:href => "#"} + Add new board
 
      

