.contianer
  %h2.page-ttl.boards-page-ttl All Boards
  - @boards.each do |board|
    .card-items
      .card-item
        %h3.card-item-ttl
          = board.title 
        %a.menu-btn 
          .mini-menu
        %p.card-item-txt 
          = board.content
        .card-item-img
          = image_tag 'default-avatar.png', class: 'card-img'
  %a.item-add{:href => "#"} + Add new board
 
      

