// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import '_variables';

.card-item {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: $item-bgc;
  border-radius: 10px;
  margin: 26px auto 0 auto;

  &-ttl {
    padding: 32px 0 0 17px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: $font-main;
  }

  &-txt {
    padding: 6px 10px 0 17px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $font-main;
  }

  &-img {
   padding: 29px 0px 20px 20px;

    image_tag {
      width: 30px;
      height: 30px;
    }
  }
}

.boards-page-ttl {
  padding: 6px 0 0 0;
}

.item-add {
  display: inline-block;
  text-align: center;
  margin: 26px 0 0 0;
  width: 100%;
  padding: 68px 0px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

.dropbtn {
  position: relative;
  top: 0px;
  right: 0px;
  border: none;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 10px;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $font-main;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.card-img {
  width: 30px;
  height: 30px;
}

.new-board-txt {
  height: 203px;
}

.eyecatch {
  padding: 32px 0 0 17px;
  width: 292px;
  height: 170px;
}