// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import '_variables';

.card-item {
  position: relative;
  width: 364px;
  background: $item-bgc;
  border-radius: 10px;

  &-ttl {
    padding: 32px 0 0 17px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: $font-main;
  }

  &-txt {
    padding: 6px 0 0 37px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $font-main;
  }

  &-img {
   padding: 29px 0px 20px 20px;

    image_tag {
      width: 30px;
      height: 30px;
    }
  }
}

.boards-page-ttl {
  padding: 6px 0 0 30px;
}

.item-add {
  display: inline-block;
  margin: 26px 0 0 0;
  width: 362px;
  padding: 68px 0px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.mini-menu {

  &::before {
    position: absolute;
    width: 6px;
    height: 6px;
    right: 25px;
    top: 32px;
    content: "•••";
  }
}

.card-img {
  width: 30px;
  height: 30px;
}