@import 'variables';

.comment-ttl {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */
  color: $font-main;
}

.addcomment-btn {
  text-align: center;
  padding: 28px 0px;
  left: 22px;
  top: 855px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}