// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import '_variables';

.card-item {
  position: relative;
  width: 362px;
  height: 161px;
  background: $item-bgc;
  border-radius: 10px;
}

.item-ttl {
  padding: 32px 0 0 37px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: $font-main;
}

.item-txt {
  padding: 6px 0 0 37px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: $font-main;
}

.item-add {
  display: inline-block;
  margin: 26px 0 0 0;
  width: 362px;
  padding: 68px 0px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.mini-menu {

  &::before {
    position: absolute;
    width: 6px;
    height: 6px;
    right: 25px;
    top: 32px;
    content: "•••";
  }
}

.card-item-img {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.card-img {
  width: 30px;
  height: 30px;
}

